@media screen and (max-width: 688px) {
  .container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .player,
  .blog,
  .courses {
    flex-direction: column;
  }

  .blog {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }

  .player,
  .blog,
  .courses {
    flex-direction: column;
  }

  .blog {
    justify-content: center;
    align-items: center;
  }
}
