/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Utilities or common style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #ffffff;
  width: 870px;
  height: 679px;
  margin-top: 25px;
  border-radius: 25px;
}

/* Header style */

header {
  width: 100%;
  height: 20vh;
  background-color: #0000ff;
}

.logo-icon {
  width: 5%;
}

/* Top player */
.section-title {
  color: #562eff;
  padding-left: 33px;
  margin-bottom: 40px;
  margin-top: 7px;
}
.top-players {
  padding: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 29px;
}

.player {
  display: flex;
  align-items: center;
  gap: 16px;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 33px;
}

/* Top Blogs */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  font-size: 16px;
  font-weight: 400;
  color: #9f9f9f;
}

.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/* Latest course style */

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 24px;
}

.course {
  /* padding: 28px; */
  width: 252px;
  height: 269px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.course .course-banner img {
  width: 224px;
  height: 104px;
}

.star-icon {
  width: 12px;
  height: 11px;
}

.course-title {
  font-size: 20px;
}

.instructor a {
  text-decoration: none;
  color: rgba(241, 3, 3, 0.788);
  font-size: 14px;
}

.course-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}

.fa-star.empty {
  color: #aeaeae;
}

.course-duration {
  width: 94px;
  height: 29px;
  background-color: #ffe4e8;
  border-radius: 15px;
  padding: 4px 6px;
  color: #ed6b4f;
}

.fa-clock {
  color: #ed6b4f;
}

/* Responsive */

@media screen and (max-width: 688px) {
  .container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .player,
  .blog,
  .courses {
    flex-direction: column;
  }

  .blog {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }

  .player,
  .blog,
  .courses {
    flex-direction: column;
  }

  .blog {
    justify-content: center;
    align-items: center;
  }
}
